<div class="title">
<%= @user1 %>
<br /><%= @repo1 %>
</div>
<br />
<% @posts.each do |post| %>
	<div><%= post.title %></div>
	<li class = "ref" rel = "<%= post.number %>" >
 	Details</li>
	<div hidden class = "body" id = "rel_<%= post.number %>" ><%= post.body %></div><br />
<% end %>
<li id = "add">Add issue</li>
<div hidden id = "new_form"%>" ></div><br />

<script>
$('.ref').click(function(){
	var a = $(this).attr('rel');
	$('#rel_'+a).attr({hidden: false});
	
 });
$('#add').click(function(){
	$('#new_form').attr({hidden: false});
	$('#new_form').html("<%= j render "add_issue_form" %>");
	
 });
</script>
